# ValidationResult

Represents the state of a validation.


| **Value** |
| --------- |
| `"VALID"` |
| `"INVALID"` |


[[Back to Model list]](./models/README.md) [[Back to API list]](../README.md) [[Back to README]](../../README.md)
